
<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<div class="container">
  <div class="forms-page">


    <div class="card" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'background.jpg'%>); background-size: cover">
      <div class="card-description">
        <h2>Congrats <%= @gig.host.first_name %> <%= @gig.host.last_name %></h2>
        <h3>You have created the new GIG - <%= @gig.name %></h3>
      </div>
      <a class="card-link" href="#" ></a>
    </div>


    <div class="media">
    <div class=media-aside>
      <div class="media-body">
        <div class="media-section">
          <h2>Pictures</h2>
          <% if @gig.photo? %>
          <%= cl_image_tag @gig.photo, height: 300, width: 300, crop: :fill %>
          <% end %>
        </div>
        <div class="media-section">
          <h2>Description :</h2>
          <h4><%= @gig.description%></h4>
          ...
        </div>
      </div>
      </div>


      <div class="media-aside">
        <div class="media-section">
        <div class="media-section">
          <div class="media-section-header">
            <%= link_to "Back", edit_gig_path(@gig), class: "btn btn-primary btn-lg" %>
            <%= link_to "Delete", gig_path(@gig), method: :delete, class: "btn btn-danger btn-lg" %>


          </div>

          <p>382 upvotes</p>
            <p> Location: <%= @gig.location %> </p>

  

            <h2>PRICE: $<%= @gig.price %> </h2>



          </div>
        </div>
      </div>


    </div>

    <div class=media-aside>

      <h3>Other gigs that <%= current_user.first_name %> <%= current_user.last_name %> is hosting:</h3>
      <% @gig.host.gigs.each do |gig| %>
      <p> <%= gig.name %>: <%= gig.date %> => <%= gig.description %> </p>


      <% end %>

    </div>
  </div>

</div>
</body>




